<section class="form">
    <h1>После регистрации тебе будут доступны сотни самых смешных котиков!</h1>
<form  method="POST" action="/auth/signin">
<div class="form__group">
<input name="email" placeholder="Адрес почты" type="email" />
</div>
<div class="form__group">
<input name="password" placeholder="Пароль" type="password" />
</div>
<div class="form__group">
<button class="btnEnter">Войти</button>
</div>
</form>
</section>
 <div class="border"></div>
   <p class="text-center"> У вас ещё нет аккаунта? <a href="/auth/signup">Зарегистрироваться</a></p>
 
