<form method="POST" class="registr" action="/auth/signup">
<div class="form__group">
<input name="email" placeholder="Адрес почты" type="email" />
</div>
<div class="form__group">
<input name="name" placeholder="Имя" type="text" />
</div>
<div class="form__group">
<input name="password" placeholder="Пароль" type="password" />
</div>
<button class="btnEnter">Зарегистрироваться</button>
</form>